#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-message {
  background: rgb(230,223,240);
  padding: 30px 40px;
  border-radius: 7px;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center;
  border: 3px solid black;
  position: relative;
}

.loading-message-header {
  background-color: rgb(173, 50, 161);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 3px solid black;
}

.loading-message-text {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  letter-spacing: 1px;
}

.loading-message-text p {
  margin-bottom: 5px;
}

.loading-message-gif {
  height: 100px;
}

.loading-message-fact {
  margin-top: 40px;
  font-size: 13px;
  letter-spacing: 1px;
  border-top: 2px solid black;
  padding-top: 10px;
}

.loading-message-fact-title {
  margin-bottom: 10px;
  font-size: 13px;
  color: rgb(152, 16, 139);
}

.loading-message-fact-text {
  font-size: 14px;
  width: 300px;
  letter-spacing: 1px;
  line-height: 20px;
}